@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: Arial, sans-serif;
  --font-serif: "Times New Roman", serif;
  --font-mono: "Courier New", monospace;
}

.font-mono {
  font-family: var(--font-mono);
}
